@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

@media screen and (min-width: 1024px) {
  .bioDiv, .statsDiv{
    perspective: 400px;
  }
  
  .bioDiv:hover .inner,
  .statsDiv:hover .inner {
    transform: rotate(0)
  }
  
  .bioDiv .inner {
    transition: .3s;
    transform: rotateY(30deg);
  }
  
  .statsDiv .inner {
    transition: .3s;
    transform: rotateY(-30deg);
  }
}